[submodule "smart-contracts/lib/ds-test"]
	path = smart-contracts/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "smart-contracts/lib/solmate"]
	path = smart-contracts/lib/solmate
	url = https://github.com/Rari-Capital/solmate
[submodule "smart-contracts/lib/openzeppelin-contracts"]
	path = smart-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "smart-contracts/lib/v2-periphery"]
	path = smart-contracts/lib/v2-periphery
	url = https://github.com/Uniswap/v2-periphery

[submodule "smart-contracts/lib/contracts"]
	path = smart-contracts/lib/fx-portal
	url = https://github.com/fx-portal/contracts
