node_modules
dist
yarn-error.log
.env

#Hardhat files
artifacts
typechain
hh-cache
.openzeppelin/unknown-*.json
abi/

# Foundry
out
cache

# Address Book
addressbook.json

# Other
.DS_Store

# Openzappelin
# Note: Not needed in testing phase, but in prod, probably
# worth keeping openzap files in VCS.
.openzeppelin