node_modules
dist
yarn-error.log
.env

#Hardhat files
artifacts
typechain
hh-cache
.openzeppelin/unknown-*.json
abi/

# Foundry
out
cache
lcov.info
broadcast
*.salt

# Address Book
addressbook.json

# Other
.DS_Store

# Openzeppelin
# Note: Not needed in testing phase, but in prod, probably
# worth keeping openzep files in VCS.
.openzeppelin